*{
    margin: 0;
    color: rgb(101, 101, 101);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.total_window{
    width: 100%;
    height: 100vh;
}
.header_part{
    display: flex;
    height: 10%;
    width: 100%;
    border-bottom: 1px solid lightgray;
}
.left_header_part{
    width: 20%;
    height: 100%;
}
.left_header_part img{
    padding-left: 16px;
    padding-top: 12px;
}
.middle_header_part{ 
    height: 100%;
    width: 54%;
}
.middle_header_part_input{
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding: 8px;
    background: rgb(244, 238, 238);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 7px;
}
.middle_header_part_input input{
    border: none;
    background-color: transparent;
    outline-width: 0;
    font-size: medium;
    height: 30px;
    width: 90%;
    margin-top: 5px;
    margin-left: 10px;
}
.right_header_part{
    padding-left: 60px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
}
.part_one{
    margin-left: 130 px;
}
.body_part{
    display: flex;
    height: 90%;
    width: 100%;
}
.left_body_part{
    height: 100%;
    width: 20%;
}
.left_body_button_part{
    display: flex;
    height: 13%;
    width: 100%;
    background: white;
}
.button_dive{
    display: flex;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    height: 45px;
    width: 100px;
    border-radius: 999px;
    background: rgb(252, 250, 250);
    box-shadow: 0 0 20px rgba( 0, 0, 0, 0.2);
}
.button_dive:hover{
    box-shadow: 0 0 20px rgba( 0, 0, 0, 0.3);
}
.button_dive img{
    padding-left: 10px;
    padding-top: 7px;
    height: 30px;
    width: 30;
    border-radius: 999px;
}
.button_dive:hover{
    
}
.left_body_icon_part{
    width: 100%;
    height: 90%;
}
.left_body_icon_par_content{
    border-bottom: 1px solid lightgray;
    height: 50%;
    width: 100%;
}
.left_body_icon_content{
    align-items: center;
    display: flex;
    width: 100%;
    height: 45px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 21px;
}
.left_body_icon_content:hover{
    background: rgb(222, 218, 218);
}
.left_body_icon_par_content_bottom{
    height: 50%;
    width: 100%;
    background: orage;
}
.storage{
    width: 76%;
    height: 5px;
    background: lightgray;
    margin-left: 25px;
}
.percent{
    margin-top: 5px;
    width: 76%;
    height: 17px;
    margin-left: 25px;
    font-size: smaller;
    font-size: 14px;
}
.storage_percent{
    height: 10px;
    width: 100%;
    background: lightgray;
}
.middle_body_part{
    height: 100%;
    width: 75%;
}



.middle_body_part_top{
    float: left;
    height: 8%;
    width: 100%;
    border-bottom: 1px solid lightgray;
}
.part_top_right{
    float: left;
    width: 100px;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.part_top_right:hover{
    background: rgb(176, 168, 168);
}
.part_top_left{
    padding: 10px;
    padding-left: 77%;
    float: left;
}
.right_body_part{
    height: 100%;
    width: 1%;
    border-left: 1px solid lightgray;
}
.row{
    margin-top: 59px;
    display: flex;
}
.item{
    
    margin: 5px;
    height: 183px;
    width: 213px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.imag{
    height: 70%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid lightgray;
}
.imag img{
    margin: 12px;
    height: 116px;
    width: 190px;
}
.discr{
    height: 30%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid lightgray;
}